In [14]:
import pandas as pd 

all_loans = pd.read_csv('all_loans.csv')
foreclosed_loans = pd.read_csv('foreclosed_loans.csv')

merged_loans = all_loans.set_index('loan_id').join(foreclosed_loans.set_index('loan_id'),
                                                   on='loan_id')

merged_loans

,orig_channel,seller_name,orig_int_rate,original_upb,original_loan_term,orig_date,first_pymt_date,orig_ltv,orig_cltv,num_borrowers,...,prop_state,zip_code,primary_insurance_pct,product_type,coborrower_credit_score,mortgage_insurance_type,relo_mortgage_indicator,current_delq_status,foreclosure_date,foreclosure_flag
loan_id,,,,,,,,,,,,,,,,,,,,,
100000102115,C,"CITIMORTGAGE, INC.",4.500,95000,120,02/2005,04/2005,51,51,2,...,TX,750,NaN,FRM,783.0,NaN,N,1,NaN,NaN
100001329224,B,"BANK OF AMERICA, N.A.",5.875,141000,360,12/2004,02/2005,78,78,2,...,IL,606,NaN,FRM,733.0,NaN,N,1,NaN,NaN
100004036273,C,"BANK OF AMERICA, N.A.",6.625,139000,360,01/2005,03/2005,95,95,1,...,FL,349,30.0,FRM,NaN,1.0,N,1,NaN,NaN
100004945019,R,"BANK OF AMERICA, N.A.",5.875,104000,360,12/2004,02/2005,68,68,1,...,SC,295,NaN,FRM,NaN,NaN,N,1,NaN,NaN
100013634177,C,"CITIMORTGAGE, INC.",6.250,51000,240,12/2004,02/2005,69,69,1,...,WI,544,NaN,FRM,NaN,NaN,N,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100283043292,C,SUNTRUST MORTGAGE INC.,5.750,350000,360,11/2004,01/2005,70,70,2,...,CA,907,NaN,FRM,709.0,NaN,N,1,NaN,NaN
100286738461,B,SUNTRUST MORTGAGE INC.,6.125,100000,360,11/2004,12/2004,47,47,1,...,CA,905,NaN,FRM,NaN,NaN,N,1,NaN,NaN
100288379195,B,"FLAGSTAR BANK, FSB",5.750,50000,360,01/2005,03/2005,95,95,1,...,MS,390,30.0,FRM,NaN,1.0,N,1,NaN,NaN
100288635327,R,"GMAC MORTGAGE, LLC",5.875,135000,360,01/2005,02/2005,55,61,2,...,MO,631,NaN,FRM,781.0,NaN,N,1,NaN,NaN
100289875585,C,"CITIMORTGAGE, INC.",5.500,83000,180,12/2004,02/2005,68,68,1,...,TX,762,NaN,FRM,NaN,NaN,N,1,NaN,NaN

In [22]:
merged_loans[merged_loans.foreclosure_date.isnull()]

,orig_channel,seller_name,orig_int_rate,original_upb,original_loan_term,orig_date,first_pymt_date,orig_ltv,orig_cltv,num_borrowers,...,prop_state,zip_code,primary_insurance_pct,product_type,coborrower_credit_score,mortgage_insurance_type,relo_mortgage_indicator,current_delq_status,foreclosure_date,foreclosure_flag
loan_id,,,,,,,,,,,,,,,,,,,,,
100000102115,C,"CITIMORTGAGE, INC.",4.500,95000,120,02/2005,04/2005,51,51,2,...,TX,750,NaN,FRM,783.0,NaN,N,1,NaN,NaN
100001329224,B,"BANK OF AMERICA, N.A.",5.875,141000,360,12/2004,02/2005,78,78,2,...,IL,606,NaN,FRM,733.0,NaN,N,1,NaN,NaN
100004036273,C,"BANK OF AMERICA, N.A.",6.625,139000,360,01/2005,03/2005,95,95,1,...,FL,349,30.0,FRM,NaN,1.0,N,1,NaN,NaN
100004945019,R,"BANK OF AMERICA, N.A.",5.875,104000,360,12/2004,02/2005,68,68,1,...,SC,295,NaN,FRM,NaN,NaN,N,1,NaN,NaN
100013634177,C,"CITIMORTGAGE, INC.",6.250,51000,240,12/2004,02/2005,69,69,1,...,WI,544,NaN,FRM,NaN,NaN,N,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100283043292,C,SUNTRUST MORTGAGE INC.,5.750,350000,360,11/2004,01/2005,70,70,2,...,CA,907,NaN,FRM,709.0,NaN,N,1,NaN,NaN
100286738461,B,SUNTRUST MORTGAGE INC.,6.125,100000,360,11/2004,12/2004,47,47,1,...,CA,905,NaN,FRM,NaN,NaN,N,1,NaN,NaN
100288379195,B,"FLAGSTAR BANK, FSB",5.750,50000,360,01/2005,03/2005,95,95,1,...,MS,390,30.0,FRM,NaN,1.0,N,1,NaN,NaN
100288635327,R,"GMAC MORTGAGE, LLC",5.875,135000,360,01/2005,02/2005,55,61,2,...,MO,631,NaN,FRM,781.0,NaN,N,1,NaN,NaN
100289875585,C,"CITIMORTGAGE, INC.",5.500,83000,180,12/2004,02/2005,68,68,1,...,TX,762,NaN,FRM,NaN,NaN,N,1,NaN,NaN

In [25]:
all_loans

,loan_id,orig_channel,seller_name,orig_int_rate,original_upb,original_loan_term,orig_date,first_pymt_date,orig_ltv,orig_cltv,...,number_units,occ_type,prop_state,zip_code,primary_insurance_pct,product_type,coborrower_credit_score,mortgage_insurance_type,relo_mortgage_indicator,current_delq_status
0,100000102115,C,"CITIMORTGAGE, INC.",4.500,95000,120,02/2005,04/2005,51,51,...,1,P,TX,750,NaN,FRM,783.0,NaN,N,1
1,100001329224,B,"BANK OF AMERICA, N.A.",5.875,141000,360,12/2004,02/2005,78,78,...,1,P,IL,606,NaN,FRM,733.0,NaN,N,1
2,100004036273,C,"BANK OF AMERICA, N.A.",6.625,139000,360,01/2005,03/2005,95,95,...,1,S,FL,349,30.0,FRM,NaN,1.0,N,1
3,100004945019,R,"BANK OF AMERICA, N.A.",5.875,104000,360,12/2004,02/2005,68,68,...,1,P,SC,295,NaN,FRM,NaN,NaN,N,1
4,100013634177,C,"CITIMORTGAGE, INC.",6.250,51000,240,12/2004,02/2005,69,69,...,1,P,WI,544,NaN,FRM,NaN,NaN,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,100283043292,C,SUNTRUST MORTGAGE INC.,5.750,350000,360,11/2004,01/2005,70,70,...,1,P,CA,907,NaN,FRM,709.0,NaN,N,1
96,100286738461,B,SUNTRUST MORTGAGE INC.,6.125,100000,360,11/2004,12/2004,47,47,...,1,I,CA,905,NaN,FRM,NaN,NaN,N,1
97,100288379195,B,"FLAGSTAR BANK, FSB",5.750,50000,360,01/2005,03/2005,95,95,...,1,S,MS,390,30.0,FRM,NaN,1.0,N,1
98,100288635327,R,"GMAC MORTGAGE, LLC",5.875,135000,360,01/2005,02/2005,55,61,...,1,P,MO,631,NaN,FRM,781.0,NaN,N,1
99,100289875585,C,"CITIMORTGAGE, INC.",5.500,83000,180,12/2004,02/2005,68,68,...,1,P,TX,762,NaN,FRM,NaN,NaN,N,1