In [13]:
import pandas as pd 

all_loans = pd.read_csv('all_loans.csv')
foreclosed_loans = pd.read_csv('foreclosed_loans.csv')

merged_loans = all_loans.merge(foreclosed_loans, left_on='loan_id')

TypeError: object of type 'NoneType' has no len()

In [11]:
merged_loans

,loan_id,orig_channel,seller_name,orig_int_rate,original_upb,original_loan_term,orig_date,first_pymt_date,orig_ltv,orig_cltv,...,prop_state,zip_code,primary_insurance_pct,product_type,coborrower_credit_score,mortgage_insurance_type,relo_mortgage_indicator,current_delq_status,foreclosure_date,foreclosure_flag
0,100131033365,R,OTHER,6.0,350000,360,02/2005,03/2005,78,78,...,PR,7,NaN,FRM,766.0,NaN,N,1,2013-11-01 0:00:00,1