As a starting point, we have to read in all dataframes that have the word 'acquisition' and merge them into one dataframe.  Each of these CSV files contains info about a different bank.

In [32]:
import pandas as pd
import glob

acquisition_files = glob.glob("*acquisitions.csv")

acquisitions_df = [pd.read_csv(filename) for filename in acquisition_files]
acquisitions_df = pd.concat(acquisitions_df, axis=0, ignore_index=True)

,loan_id,orig_channel,seller_name,orig_int_rate,original_upb,original_loan_term,orig_date,first_pymt_date,orig_ltv,orig_cltv,...,number_units,occ_type,prop_state,zip_code,primary_insurance_pct,product_type,coborrower_credit_score,mortgage_insurance_type,relo_mortgage_indicator,current_delq_status
0,1.001134e+11,B,"FLAGSTAR BANK, FSB",6.375,73000.0,360.0,01/2005,03/2005,80.0,80.0,...,1.0,P,MI,492.0,NaN,FRM,NaN,NaN,N,1.0
1,1.001134e+11,B,"FLAGSTAR BANK, FSB",5.750,70000.0,360.0,02/2005,04/2005,72.0,72.0,...,1.0,P,MO,656.0,NaN,FRM,761.0,NaN,N,1.0
2,1.001673e+11,C,"FLAGSTAR BANK, FSB",6.125,180000.0,240.0,01/2005,03/2005,58.0,58.0,...,1.0,P,CA,934.0,NaN,FRM,NaN,NaN,N,1.0
3,1.002136e+11,B,"FLAGSTAR BANK, FSB",5.375,122000.0,180.0,12/2004,02/2005,85.0,85.0,...,1.0,P,MI,481.0,6.0,FRM,675.0,1.0,N,1.0
4,1.002599e+11,C,"FLAGSTAR BANK, FSB",5.375,206000.0,180.0,02/2005,04/2005,53.0,53.0,...,3.0,P,CA,900.0,NaN,FRM,NaN,NaN,N,1.0

In [33]:
acquisitions_df

,loan_id,orig_channel,seller_name,orig_int_rate,original_upb,original_loan_term,orig_date,first_pymt_date,orig_ltv,orig_cltv,...,number_units,occ_type,prop_state,zip_code,primary_insurance_pct,product_type,coborrower_credit_score,mortgage_insurance_type,relo_mortgage_indicator,current_delq_status
0,1.001134e+11,B,"FLAGSTAR BANK, FSB",6.375,73000.0,360.0,01/2005,03/2005,80.0,80.0,...,1.0,P,MI,492.0,NaN,FRM,NaN,NaN,N,1.0
1,1.001134e+11,B,"FLAGSTAR BANK, FSB",5.750,70000.0,360.0,02/2005,04/2005,72.0,72.0,...,1.0,P,MO,656.0,NaN,FRM,761.0,NaN,N,1.0
2,1.001673e+11,C,"FLAGSTAR BANK, FSB",6.125,180000.0,240.0,01/2005,03/2005,58.0,58.0,...,1.0,P,CA,934.0,NaN,FRM,NaN,NaN,N,1.0
3,1.002136e+11,B,"FLAGSTAR BANK, FSB",5.375,122000.0,180.0,12/2004,02/2005,85.0,85.0,...,1.0,P,MI,481.0,6.0,FRM,675.0,1.0,N,1.0
4,1.002599e+11,C,"FLAGSTAR BANK, FSB",5.375,206000.0,180.0,02/2005,04/2005,53.0,53.0,...,3.0,P,CA,900.0,NaN,FRM,NaN,NaN,N,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231492,9.998117e+11,C,"CITIMORTGAGE, INC.",4.875,70000.0,180.0,01/2005,03/2005,25.0,25.0,...,1.0,P,PA,156.0,NaN,FRM,789.0,NaN,N,1.0
231493,9.998226e+11,C,"CITIMORTGAGE, INC.",6.000,75000.0,360.0,12/2004,02/2005,75.0,75.0,...,1.0,P,WV,249.0,NaN,FRM,NaN,NaN,N,1.0
231494,9.998283e+11,C,"CITIMORTGAGE, INC.",5.500,204000.0,360.0,01/2005,03/2005,65.0,65.0,...,1.0,P,NJ,88.0,NaN,FRM,786.0,NaN,N,1.0
231495,9.998401e+11,R,"CITIMORTGAGE, INC.",5.875,315000.0,360.0,12/2004,02/2005,62.0,62.0,...,1.0,P,CA,956.0,NaN,FRM,NaN,NaN,N,1.0
231496,9.999636e+11,R,"CITIMORTGAGE, INC.",6.000,180000.0,300.0,01/2005,03/2005,44.0,44.0,...,1.0,P,NY,117.0,NaN,FRM,NaN,NaN,N,1.0